html, body {
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}
main{
  display: grid;
  color: hsl(0, 0%, 95%);
  margin: 5rem auto 0;
  width: 900px;
  border-radius: 10px;
}
.sedan{
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 2rem 3rem;
  background: rgb(178,34,34)
}
.suv{
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 2rem 3rem;
  background: rgb(85,107,47)
}
.luxury{
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 2rem 3rem;
  background: rgb(47,79,79)
}
p{
  color: hsla(0, 0%, 100%, 0.75);
}
h1{
  font-family: 'Big Shoulders Display', cursive;
}
button{
  border: 1px solid white;
  background: none;
  padding: .8rem 1.5rem;
  color: hsl(0, 0%, 95%);
  margin-top: 3rem;
  border-radius: 25px;
  cursor: pointer;
}
button:hover{
  font-weight: bold;
}